.row {
    width: 100%;
    flex-wrap: wrap;
    margin:auto;
}
.card {
    width:100%;
    margin: 10px 0px;
}
.list_item {
    width:100%;
}
.button {
    width:100%;
    border: none;
    background-color:white;
}
.list_img {
    width:100%;
}