{% extends 'auctions/layout.html' %}

{% block title %}
Categories
{% endblock %}

{%block body%}

<div><a class="" href="/category/antiques">antiques</a></div>
<div><a class="" href="/category/electronics">electronics</a></div>
<div><a class="" href="/category/entertainment">entertainment</a></div>
<div><a class="" href="/category/sports">sports</a></div>
<div><a class="" href="/category/kitchenware">kitchenware</a></div>
<div><a class="" href="/category/toys">toys</a></div>
<div><a class="" href="/category/cosmetics">cosmetics</a></div>
<div><a class="" href="/category/academics">academics</a></div>
<div><a class="" href="/category/fantasy">fantasy</a></div>
<div><a class="" href="/category/furnitures">furnitures</a></div>
<div><a class="" href="/category/scientific">scientific</a></div>
<div><a class="" href="/category/accessories">accessories</a></div>
<div><a class="" href="/category/fashion">fashion</a></div>
<div><a class="" href="/category/other">other</a></div>

{% endblock %}