{% extends "auctions/layout.html" %}

{% block title %}
All Listings
{% endblock %}

{% block body %}

<div class="row">
    <h2>All Listings</h2>
    
    {% for each in listings %}
    <div class="col-sm-3">  
    <div class="card" >
        <form  class="list_item"  action="/listing/{{ each.id }}" method="GET">
            <button class="button" id="{{ each.id }}" type="submit">
                <div>
                    <h3>{{ each.name }}</h3>
                </div>
                    <img class="list_img" src="{{ each.img }}" alt = "{{ each.name }}" height="165" width="300">
                <div>
                    <h4>Highest bid: &#8377 {{ each.bid }}
                </div>
                <div>
                    <h5>Description:</h5>
                    <p>{{ each.description }}</p>
                </div>
                    <h5>Category: {{ each.category }}</h5>
            </button>
        </form>
    </div>
</div>
{%empty%}
<h4> No active listings</h4>
{% endfor %}
</div>
{% endblock %}