{% extends "auctions/layout.html" %}

{% block title %}
{{ listing.name }}
{% endblock %}

{% block body %}

{% comment %}if the current loged in user is the winner, display the massage {% endcomment %}
{% if winner %}
<h3>{{ user.username }}<p>You have purchased the listing</p><h3>
{% endif %}

{% if listing.active == True %}

{% comment %} Main listing body {% endcomment %}
<div class="card">

<h2 class="card-header">{{ listing.name }}</h2>
<div class="card-body">
    <img class="img" src="{{ listing.img }}" alt = "{{ listing.name }}" height="400" width="600">

    {% comment %} form to bid the listing if the user is user is authenticated {% endcomment %}
    <form action="/listing/{{ listing.id }}" method="POST">
        <div>
            <h4 class="card-title">Current Bid: &#8377 {{ listing_bid }}
        {% if user.is_authenticated %}
                <div class="button">
                {% comment %}If the user is the owner of the listing, display the 'close listing' button{% endcomment %}
                {% if close_permit == True %}
                <a class="btn btn-primary" href="/close/{{ listing.id }}">Close listing</a>
                </div>

                {% else %}
                <div class="card-title">
                <h5>Make a bid: </h5> <input class="form-control" type ="number" name="new_bid" required>
                    <div class="button">
                        <input class="bid_btn btn btn-primary" type="submit" value="BID">
                    </div>
                </div>
                {% comment %} add to watchlist if not and remove if already added {% endcomment %}
                <div>
                    {% if listing.saved == False %}
                        <a class="btn btn-primary watchlist_btn" href="/do_watchlist/{{ listing.id }}">Add to watchlist</a>
                    {% else %}
                        <a class="btn btn-primary watchlist_btn" href="/do_watchlist/{{ listing.id }}">Remove from watchlist</a>
                    {% endif %}
                </div>
                {% endif %}
                
        {% else %}
        <div>
            <a class="btn btn-primary" href="/login.html">Login</a> to bid
        </div>
        {% endif %}
        </div>
    </form>

<div class="card-title">
    <h4>Description</h4>
    <p class="card-text">{{ listing.description }}</p>
</div>
<div class="card-title">
    <h4>Category</h5>
    <p class="card-text">{{ listing.category }}</p>
</div>

    {% comment %} show and post a new comment {% endcomment %}
    <h4>Comments</h4>
    <div class="cmnt_box">
    {% if user.is_authenticated %}
    <div>
        <form action = "/comments/{{ listing.id }}" method = "POST">
            {% if massage %}
            <p>{{ massage }}</p>
            {% endif %}
            <TextArea class="comnt_area" name ="comment_in" placeholder="Add a new Comment..."></TextArea>

            <input class="cmnt_btn btn btn-primary" type = "submit" value="Post comment">
        </form>
    </div>
    {% endif %}

    {% for each in comments %}
        <ul class="all_cmnts"><li class="all_cmnts card-text">Posted by <strong>{{ each.user }}</strong>: {{ each.text }}</li></ul>
        {% empty %}
        <p>No comments yet!</p>
        {% endfor %}
</div>


{% else %}
<h3>The listing is no longer active</h3>.
</div>
{% endif %}

{% endblock %}