{% extends "auctions/layout.html" %}

{% block title %}
Watchlist
{% endblock %}

{% block body %}
    <h2>Watchlisted Listings:</h2>

    {% for each in watchlist %}
    <span>
        <form action="/listing/{{ each.id }}" method="GET">
            <button id="{{ each.id }}" type="submit">
                <div>
                    <h3>{{ each.name }}</h3>
                </div>
                    <img src="{{ each.img }}" alt = "{{ each.name }}" height="165" width="300">
                <div>
                    <h4>Highest bid: &#8377 {{ each.bid }}
                </div>
                <div>
                    <h5>Description:</h5>
                    <p>{{ each.description }}</p>
                </div>
                    <h5>Category: {{ each.category }}</h5>
            </button>
        </form>
    </span>
    {%empty%}
    <h4> No Watchlisted listings</h4>
    {% endfor %}
    
{% endblock %}